* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'League Spartan';  */
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #f0f0f0;
}

/*WHATSAPP  */
.whatsapp {
  position: fixed;
  bottom: 25px;
  right: 30px;
}

/*EXTENDS */
.container_card, .productos__principal .container-fluid .productos__card {
  width: 270px;
  height: 395px;
  margin-bottom: 20px;
}

.navbar {
  background-color: #345c72;
}
.navbar .img__logo {
  width: 100px;
}

.productos {
  padding: 10px;
  padding-top: 10px;
  max-width: 1200px;
}
.productos h2 {
  text-align: center;
  font-size: 30px;
  color: #345c72;
  margin-bottom: 15px;
  padding: 10px;
}
.productos .container-fluid {
  align-items: center;
}
.productos .container-fluid .productos__card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 395px;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
  transition-property: box-shadow;
  transition-duration: 0.3s;
}
.productos .container-fluid .productos__card:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.2);
}
.productos .container-fluid .productos__card .productos__card-img {
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
}
.productos .container-fluid .productos__card .productos__card-titulo {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1px;
}
.productos .container-fluid .productos__card .precio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productos .container-fluid .productos__card .precio .precio__actual {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px;
}
.productos .container-fluid .productos__card .precio .precio__regular {
  color: #8e8e8e;
  font-size: 1rem;
  text-decoration: line-through;
  padding: 5px;
}
.productos .container-fluid .productos__card .btn {
  width: 50%;
  background-color: #345c72;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  margin: 0 auto;
  transition: 0.4s;
}
.productos .container-fluid .productos__card .btn:hover {
  background: #f46530;
}

/* FOOTER */
.footer__container {
  background-color: #345c72;
  padding: 10px;
}
.footer__container .footer {
  display: flex;
  justify-content: space-between;
}
.footer__container .footer .footer__redes {
  text-align: center;
  color: black;
}
.footer__container .footer .footer__redes-logos {
  display: flex;
  justify-content: space-around;
}
.footer__container .footer .footer__redes-logos .footer__redes-img img {
  width: 40px;
  margin-top: 5px;
}
.footer__container .footer .footer__pagos {
  text-align: center;
  color: black;
}
.footer__container .footer .footer__contacto {
  text-align: center;
  color: black;
}
.footer__container .footer__copyright {
  text-align: center;
  color: #f46530;
}

@media screen and (max-width: 576px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__contacto {
    text-align: center;
  }
}
.productos__principal {
  padding: 10px;
  padding-top: 10px;
}
.productos__principal h1 {
  text-align: center;
  font-size: 30px;
  color: #f46530;
  padding: 10px;
}
.productos__principal h2 {
  text-align: center;
  font-size: 28px;
  color: rgb(52, 92, 114);
  margin-bottom: 20px;
}
.productos__principal .container-fluid {
  align-items: center;
}
.productos__principal .container-fluid .productos__card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
  transition-property: box-shadow;
  transition-duration: 0.3s;
}
.productos__principal .container-fluid .productos__card:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.2);
}
.productos__principal .container-fluid .productos__card .productos__card-img {
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
}
.productos__principal .container-fluid .productos__card .productos__card-titulo {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1px;
}
.productos__principal .container-fluid .productos__card .precio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productos__principal .container-fluid .productos__card .precio .precio__actual {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px;
}
.productos__principal .container-fluid .productos__card .precio .precio__regular {
  color: #8e8e8e;
  font-size: 1rem;
  text-decoration: line-through;
  padding: 5px;
}
.productos__principal .container-fluid .productos__card .btn {
  width: 50%;
  background-color: #345c72;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  margin: 0 auto;
  transition: 0.4s;
}
.productos__principal .container-fluid .productos__card .btn:hover {
  background: #f46530;
}

/* PREGUNTAS FRECUENTES */
.preguntas__container {
  background-image: linear-gradient(rgb(52, 92, 114), rgba(244, 101, 48, 0));
  background-size: cover;
  background-position: center center;
  height: 78vh;
  text-align: center;
  color: #f0f0f0;
  max-width: 1200px;
}
.preguntas__container .preguntas__container h1 {
  margin-bottom: 5%;
}
.preguntas__container .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #345c72;
  color: white;
}

@media screen and (max-width: 850px) {
  .preguntas__container {
    height: 100vh;
  }
}
@media screen and (max-width: 450px) {
  .preguntas__container {
    height: 102vh;
  }
}
@media screen and (max-width: 380px) {
  .preguntas__container {
    height: 120vh;
  }
}
/* CONTACTO */
.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "texto contacto";
  max-width: 1400px;
}
.contacto .contacto__texto {
  background-image: linear-gradient(rgba(52, 92, 114, 0.3), rgba(244, 101, 48, 0)), url(../assets/Imagen\ para\ contacto.webp);
  background-size: cover;
  background-position: center center;
  height: 80vh;
  grid-area: texto;
}
.contacto .contacto__texto h1 {
  font-size: 50px;
  width: 65%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #345c72;
}
.contacto .contacto__texto p {
  font-size: 20px;
  width: 65%;
  line-height: 1.5;
  margin: auto;
  color: #111111;
}
.contacto .contacto__container {
  height: 80vh;
  background-image: linear-gradient(rgb(52, 92, 114), rgba(244, 101, 48, 0));
  grid-area: contacto;
}
.contacto .contacto__container h2 {
  margin-top: 5px;
  padding: 0;
  text-align: center;
  color: #ffffff;
}
.contacto .contacto__container .contacto__formulario {
  margin: 20px auto;
  width: 70%;
  height: 70vh;
  padding: 20px;
  background-color: #345c72;
  border-radius: 10px;
}
.contacto .contacto__container .contacto__formulario .contacto__form label {
  color: #ffffff;
}
.contacto .contacto__container .contacto__formulario .contacto__form input {
  width: 100%;
  padding: px 0;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.contacto .contacto__container .contacto__formulario .contacto__form textarea {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7450980392);
  margin-bottom: 5px;
  width: 100%;
}
.contacto .contacto__container .contacto__formulario .checkbox {
  text-align: center;
  margin-bottom: 10px;
}
.contacto .contacto__container .contacto__formulario .checkbox input, .contacto .contacto__container .contacto__formulario .checkbox label {
  cursor: pointer;
}
.contacto .contacto__container .contacto__formulario .contacto__boton {
  text-align: center;
}
.contacto .contacto__container .contacto__formulario .contacto__boton button {
  font-family: "League Spartan", sans-serif;
  background-color: rgba(255, 255, 255, 0.7450980392);
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .contacto__container .contacto__formulario {
    width: 80%;
  }
  .contacto__container .contacto__formulario .contacto__form textarea {
    margin: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "texto" "contacto";
  }
  .contacto .contacto__texto {
    height: 50vh;
  }
}
@media screen and (max-width: 576px) {
  .contacto__form textarea {
    margin: 0%;
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .contacto .contacto__texto {
    height: 45vh;
  }
  .contacto .contacto__texto h1 {
    font-size: 35px;
  }
  .contacto .contacto__texto p {
    font-size: 16px;
  }
  .contacto .contacto__container {
    height: 75vh;
  }
  .contacto .contacto__container .contacto__formulario {
    width: 95%;
    height: 65vh;
  }
  .contacto .contacto__container .contacto__formulario .contacto__form textarea {
    margin: 0%;
    width: 100%;
  }
}
.galeria {
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 30px;
}
.galeria .galeria__img img {
  width: 100%;
}
.galeria .galeria__texto {
  padding: 20px;
}
.galeria .boton {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  color: #345c72;
  margin-top: 50px;
  transition: 0.6s;
}
.galeria .boton:hover {
  background: #345c72;
  color: white;
}

@media screen and (max-width: 790px) {
  .galeria .galeria__texto p {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .galeria {
    font-size: 12px;
  }
  .galeria .galeria__texto h1 {
    font-size: 16px;
  }
  .galeria .boton {
    font-size: 10px;
    padding: 5px;
  }
}/*# sourceMappingURL=estilos.css.map */