
/* SECCION PRODUCTOS */
.productos__principal{
    padding: 10px;
    padding-top: 10px;  
}
.productos__principal h1{
    text-align: center;
    font-size: 30px;
    color:rgb(244, 101, 48);
    padding: 10px;
}
.productos__principal h2{
    text-align: center;
    font-size: 28px;
    color: rgb(52, 92, 114);
    margin-bottom: 20px;
}

/* PREGUNTAS FRECUENTES */

.preguntas__container{
    background-image:linear-gradient(rgba(52, 92, 114, 1), rgba(244,101,48,0));
    background-size: cover;
    background-position: center center;
    height: 78vh;
    text-align: center;
    color: #f0f0f0;
}
.preguntas__container h1{
    margin-bottom: 5%;
}
.accordion-button{
    background-color: #345c72;
    color: white;
}
/* QUIENES SOMOS */
.main__quienes-somos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;

}

.presentacion{
    display: flex;
}

.presentacion__izquierda{
   
    width: 50%;
    height: 80vh;
    background-image:linear-gradient(rgba(52, 92, 114, 1), rgba(244,101,48,0.8))
    
}

.presentacion__izquierda h1{
    font-size: 50px;
    width: 65%;
    margin: auto;
    margin-top: 20px;
    color:#ffffff
}

.presentacion__izquierda p{
    font-size: 17px;
    width: 65%;
    line-height: 1.5;
    margin: auto;
}

.presentacion__derecha{
    background: url(../assets/Producto-sublimados.jpg);
    background-size: cover;
    background-position:center center ;
    width: 50%;
    height:80vh ;
   
}

.presentacion__productos{
    display: flex;
}

.presentacion__productos-izquierda{
    background: url(../assets/productos.png);
    background-size: cover;
    background-position:center center ;
    width: 50%;
    height:80vh ;

}

.presentacion__productos-derecha{
    width: 50%;
    height: 80vh;
    background-image:linear-gradient(rgba(244,101,48,0.8), rgba(52, 92, 114, 1))
}


.presentacion__productos-derecha h1{
    font-size: 50px;
    width: 65%;
    margin: auto;
    margin-top: 20px;
    color:#ffffff;
   
}

.presentacion__productos-derecha p{
    font-size: 17px;
    width: 65%;
    line-height: 1.5;
    margin: auto;
}

/* CONTACTO */

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "texto contacto";
    max-width: 1400px;

}
.contacto__texto{
    background-image:linear-gradient(rgba(52, 92, 114, 0.3), rgba(244,101,48,0.0)), url(../assets/Imagen\ para\ contacto.webp);
    background-size: cover;
    background-position: center center;
    height:80vh;
    grid-area: texto;
}

.contacto__texto h1{
    font-size: 50px;
    width: 65%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#345c72
}
.contacto__texto p{
    font-size: 20px;
    width: 65%;
    line-height: 1.5;
    margin: auto;
    color: #111111;
}

.contacto__container{
    height:80vh;
    background-image:linear-gradient(rgba(52, 92, 114, 1), rgba(244,101,48,0.0)) ;
    grid-area: contacto;
}
.contacto__container h2{
    margin-top: 5px;
    padding: 0;
    text-align: center;
    color: #ffffff;
}
.contacto__formulario{
    margin: 20px auto;
    width: 70%;
    height: 70vh;
    padding: 20px;
    background-color:#345c72;
    border-radius: 10px;
}

.contacto__form label{
    color: #ffffff;
}


.contacto__form input{
    width: 100%;
    padding: px 0;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.contacto__form textarea{
    border-radius: 5px;
    background-color: #ffffffbe;
    margin-bottom: 5px;
    width: 100%;
}

.checkbox{
    text-align: center;
    margin-bottom: 10px;
}

.checkbox input, label{
    cursor: pointer;
}
.contacto__boton{
    text-align: center;
}
.contacto__boton button{
    font-family: 'League Spartan', sans-serif;
    background-color: #ffffffbe;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;  
}



@media screen and (max-width: 850px){
    .productos__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items:auto;
    }
    .contacto__formulario{
        width: 80%;
    }
    .contacto__form textarea{
        margin: 0%;
        width: 100%;

    }
    .preguntas__container{
        height: 100vh;
    }
}

@media screen and (max-width: 768px){

    .hero{
        height: 40vh;
    }

    .hero__logo img{
        width: 400px;
    }
    
    .hero__texto h2{
        font-size: 30px;
        color:black;
        text-shadow:1px 4px 10px white;
    }
    .contacto{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "texto"
    "contacto";
    }

    .contacto__texto{
        height: 50vh;
    } 
}

@media screen and (max-width: 576px){
    
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__contacto{
        text-align: center;
    }
    
    .main__quienes-somos{
        display: flex;
        flex-direction: column;
    }
    
    .presentacion{
        display: flex;
    }
    
    .presentacion__izquierda{  
        width: 50%;
        height: 50vh;
        background-image:linear-gradient(rgba(52, 92, 114, 1), rgba(244,101,48,0.8))
 
    }
    
    .presentacion__izquierda h1{
        font-size: 30px;
        width: 65%;
        margin: auto;
        margin-top: 20px;
        color:#ffffff
    }

    .presentacion__izquierda p{
        font-size: 14px;
    }
    
    .presentacion__derecha{ 
        height:50vh ;
    }

    .presentacion__productos-derecha h1{
        font-size: 30px;
    }
    .presentacion__productos-derecha p{
        font-size: 14px;
    }
    .contacto__form textarea{
        margin: 0%;
        width: 90%;
    }
}

@media screen and (max-width: 450px){

    .hero{
        
        height: 40vh;
 
    }
    .hero__logo img{
        width: 300px;
    }
    
    .hero__texto h2{
        font-size: 20px;
        color:black;
        text-shadow:1px 4px 10px white;
    }
    .header__content-navbar a{
        font-size: 12px;
    }
    .presentacion__izquierda{
   
        width: 100%;
        height: 50vh;
    }
    
    
    .presentacion__izquierda p{
        font-size: 17px;
        width: 65%;
        line-height: 1.5;
        margin: auto;
    }
    
    .presentacion__derecha{
         
        display: none;
    }
    
    .presentacion__productos{
        display: flex;
    }
    
    .presentacion__productos-izquierda{
        display: none;
    }
    
    .presentacion__productos-derecha{
        width: 100%;
        height: 50vh;
    }
       
    .preguntas__container{
        height: 102vh;
    }
    
 
     .contacto__container{
        height: 75vh;
     }

     .contacto__texto{
        height: 45vh;
     }


     .contacto__texto h1{
        font-size: 35px;
     }

     .contacto__texto p{
        font-size: 16px;
     }
     .contacto__formulario{
         width: 95%;
         height: 65vh;
     }

     .contacto__form textarea{
         margin: 0%;
         width: 100%;

     }
}

@media screen and (max-width: 380px){
    .preguntas__container{
        height:120vh;
    } 
}
