/* FOOTER */
.footer__container{
    background-color:$colorPrincipal;
    padding: 10px;
    margin-top: auto;

    .footer{
       text-align: center;
       
        & img{
            width: 200px; 
            margin-bottom: 5px; 
        }

        .footer__redes-logos{
            display:flex;
            justify-content: center;
            
            .footer__redes-img{

                & img{
                    width: 50px;
                    padding: 8px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer__copyright{
        color:$colorSecundario;
    }
}





