.productos__principal{
    padding: 10px;
    padding-top: 10px;
    
    & h1{
        text-align: center;
        font-size: 30px;
        color:$colorSecundario;
        padding: 10px;
    }
    & h2{
        text-align: center;
        font-size: 28px;
        color: rgb(52, 92, 114);
        margin-bottom: 20px;
    }
    .container-fluid {
        align-items: center;

        .productos__card{
            @extend .container_card;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
            transition-property: box-shadow;
            transition-duration: 0.3s;

            &:hover{
                box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.2);
            }
            .productos__card-img{
                width:100%;
                height: 280px;
                margin-bottom: 10px;
            }
            
            .productos__card-titulo{
                text-align: center;
                font-weight: bold;
                font-size: 1rem;
                color: #666666;
                margin-bottom: 1px;
            }
            
            .precio{
                display: flex;
                justify-content: center;
                align-items: center;

                .precio__actual{
                    color:black;
                    font-size: 1.1rem;
                    font-weight:bold;
                    padding: 5px;    
                }
    
                .precio__regular{
                    color:#8e8e8e;
                    font-size: 1rem;
                    text-decoration: line-through;
                    padding: 5px;
                }
            }
            
            
            .btn {
                width: 50%;
                background-color: $colorPrincipal;
                justify-content: center;
                text-align: center;
                font-size: 14px;
                letter-spacing: 1px;
                color:white;
                font-weight: bold;
                border-radius: 25px;
                margin: 0 auto;
                transition: .4s;

                &:hover{
                    background:$colorSecundario;
                  }  
            }
        } 
    }
}
