.reseñas{
    padding: 5px;
    margin-bottom: 20px;
    display: grid;
    justify-items: center;

    h2{
        text-align: center;
        font-size: 30px;
        color:$colorSecundario;
        margin-bottom: 20px;
    }

    .reseñas__container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        gap:100px;

        .reseñas__card{
            width: 250px;
            height: 350px;
            background-color: #ffffff;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            border: 2px solid #345c72;
            align-items: center;

            &:hover{
                transition:all;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }
            
            .reseñas__card-img{
                width: 60%;
                border-radius: 50%;
                padding-bottom: 10px;
                border: 3px solid #345c72;
                margin-bottom: 10px;
            }
            
            .reseñas__card-nombre{
                font-size: 20px;
                margin-bottom: 5px;   
            }
            
            .reseñas__card-parrafo{
                text-align: center;
                font-size:16px;
            }  
        }
    }
}


